/*

フォーム

*/

input,
button,
select,
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:transparent;
  border-radius: 0;
  font:inherit;
}

input[type='checkbox'],
input[type='radio'] {
  display:none;
}

input[type='submit'],
input[type='button'],
label,
button,
select{
  cursor:pointer;
}

select::-ms-expand{
  display: none;
}

.mmm-form{
    font-size:1rem;
}

.mmm-form *{
    line-height:1.5;
}

.mmm-form fieldset + fieldset{
    margin-top:1em;
}

.mmm-form legend{
	line-height:1;
    margin-bottom:1em;
}

.mmm-form__title{
	line-height:inherit;
    font-weight:bold;
}

.mmm-form input[type=text],
.mmm-form input[type=email],
.mmm-form input[type=tel],
.mmm-form textarea,
.mmm-form select{
    position:relative;
    border:1px solid lightgray;
    width:100%;
    height:2em;
    padding:.25em;
}

.mmm-form textarea{
    height:10em;
}

.mmm-form__checks{
}

.mmm-form__checks label{
    display:block;
    margin-right:.8em;
}

.mmm-form__checks span{
    margin-left:0;
}

.mmm-form__checks input + span{
    display:flex;
    align-items:center;
    height:1em;
}

.mmm-form__checks input + span::before{
    content: "";
    display:inline-block;
    width:1em;
    height:1em;
    border:1px solid lightgray;
    background-color:#FFF;
    vertical-align:middle;
    margin-right:.2em;
}

.mmm-form__checks--radio input + span::before{
    border-radius:50%;
}

.mmm-form__checks--checkbox input + span::before{
    border-radius:0;
}

.mmm-form__checks input:checked + span::before{
    background-color:#0099FF;
}

.mmm-form__selects{
    position:relative;
}

.mmm-form__selects::before{
    content:"";
    position:absolute;
    top:.8em;
    right:.5em;
    z-index:0;
    display:block;
    border-top:10px solid lightgray;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}

.mmm-form__btns{
    display:flex;
    flex-wrap:wrap;
}

.mmm-form button,
.mmm-form input[type=submit]{
    height:2em;
    border:1px solid lightgray;
    padding:.25em 1em;
    margin-right:.5em;
}

.mmm-form__btn:hover{
    opacity:.7;
}

@media screen and (max-width:768px){

    .mmm-form__btn{
        display:block;
        width:100%;
        margin-right:0;
        margin-bottom:.5em;
    }

}

.ajax-loader{
    display:none !important;
}
