/*

フォーム

*/

input,
button,
select,
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:transparent;
  border-radius: 0;
  font:inherit;
}

input[type='checkbox'],
input[type='radio'] {
  display:none;
}

input[type='submit'],
input[type='button'],
label,
button,
select{
  cursor:pointer;
}

select::-ms-expand{
  display: none;
}

.mmm-form{
    font-size:1.2rem;
}

.mmm-form *{
    line-height:1.5;
}

.mmm-form fieldset{
    margin-bottom:1.5em;
}

.mmm-form legend{
    margin-bottom:.5em;
}

.mmm-form__title{
    font-weight:bold;
}

.mmm-form__require{
    display:inline-block;
    font-size:.5em;
    color:#FFF;
    text-align:center;
    vertical-align:text-top;
    background-color:#cc0000;
    padding:.5em;
    margin-left:1em;
}

.mmm-form input[type=text],
.mmm-form input[type=email],
.mmm-form input[type=tel],
.mmm-form textarea,
.mmm-form select{
    position:relative;
    border:1px solid lightgray;
    width:100%;
    height:2em;
    padding:.25em;
}

.mmm-form textarea{
    height:10em;
}

.mmm-form__checks{
    display:flex;
    flex-wrap:wrap;
}

.mmm-form__checks label{
    display:flex;
    align-items:center;
    margin-right:.5em;
}

.mmm-form__checks label::before{
    content: "";
    display:inline-block;
    width:1em;
    height:1em;
    border:1px solid lightgray;
    background-color:#FFF;
    margin-right:.2em;
}

.mmm-form__checks--radio label::before{
    border-radius:50%;
}

.mmm-form__checks--checkbox label::before{
    border-radius:0;
}

.mmm-form__checks input:checked + label::before{
    background-color:#0099FF;
}

.mmm-form__selects{
    position:relative;
}

.mmm-form__selects::before{
    content:"";
    position:absolute;
    top:calc(50% - 5px);
    right:.5em;
    z-index:0;
    display:block;
    border-top:10px solid lightgray;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}

.mmm-form__btns{
    display:flex;
    flex-wrap:wrap;
}

.mmm-form__btn{
    height:2em;
    border:1px solid lightgray;
    padding:.25em 1em;
    margin-right:.5em;
}

.mmm-form__btn:hover{
    opacity:.7;
}

@media screen and (max-width:768px){

    .mmm-form__checks{
        display:block;
    }

    .mmm-form__btn{
        display:block;
        width:100%;
        margin-right:0;
        margin-bottom:.5em;
    }

}
